<section class="promo-section section section-on-bg">
    <div class="hero-slider-wrapper">
        <div class="flexslider hero-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
        <div class="hero-slider-mask">

        </div>
    </div><!--//hero-slider-wrapper-->
     <div class="container promo-content">

        <div id="wrapper">
                 <!-- Sidebar -->
                 <div id="sidebar-wrapper">
                     <ul class="sidebar-nav">
                         <li class="sidebar-brand">
                             <a href="#">
                                 Notification
                             </a>
                         </li>
                         <li>
                             <a href="#">Messages</a>
                         </li>
                         <li>
                             <a href="#">Search</a>
                         </li>
                         <li>
                             <a href="#">Matches</a>
                         </li>
                         <li>
                             <a href="#">Favorites</a>
                         </li>
                         <li>
                             <a href="#">Create Shipment</a>
                         </li>
                         <li>
                             <a href="#" style="border-style: solid;">History</a>
                         </li>
                         <li>
                             <a href="#">Profile</a>
                         </li>
                         <li>
                            <a href="#"> Settings </a>
                         </li>
                     </ul>
                 </div>
    </div>   <!-- /#sidebar-wrapper -->

        <!-- tab wrapper -->
        <div id="t-wrapper">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tHistory">Transaction History</a></li>
                <li><a data-toggle="tab" href="#uDoc">Upload Document</a></li>
              </ul>

              <div class="tab-content">
                <div id="tHistory" class="tab-pane fade in active">
                  <h3>HOME</h3>
                  <p>test data</p>
                </div>
                <div id="uDoc" class="tab-pane fade">
                  <button type="button" class="btn btn-primary btn-lg" style="float: right; padding-left;": 5px;>Upload button</button>
                 </div>
               </div>   <!-- end tab content -->

        </div>  <!-- end tab wrapper -->
        </div>
    </section>
