<div class="top-heading">
  <div class="top-heading-text">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h1>Your Copy Here</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div><!-- column -->
    </div><!-- row -->
  </div>
</div>


<div class="container-white" >
    <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="nav page-nav list-inline">
                    <li><a class="scrollto" href="#overview-section">Overview</a></li>
                    <li><a class="scrollto"  href="#features-section">Key Features</a></li>
                    <li><a class="scrollto"  href="#customers-section">Customers</a></li>
                    <li><a class="scrollto"  href="#signup-section">Get Started</a></li>
                    <li><a class="scrollto"  href="#support-section">Support</a></li>
                </ul><!--//page-nav-->
            </div>
        </div><!--//page-nav-wrapper-->
    </div><!--//page-nav-space-holder-->
        
    <section id="overview-section" class="overview-section section">
        <h2 class="section-title">
            A great way to empower your team
        </h2>
        <div class="section-intro">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.
        </div><!--//section-intro-->
        <div class="figures-wrapper">
            <div class="container text-center">
                <figure class="macbook-screen"><img class="img-responsive" src="assets/landing-page/macbook-screen.png" alt=""></figure>
                <figure class="ipad-screen"><img class="img-responsive" src="assets/landing-page/ipad-screen.png" alt=""></figure>
                <figure class="iphone-screen"><img class="img-responsive" src="assets/landing-page/iphone-screen.png" alt=""></figure>
                <a href="#" type="button" class="play-icon" data-toggle="modal" data-target="#modal-video"><img src="assets/images/play-icon-md.svg" alt=""></a>
            </div><!--//container-->
        </div><!--//figures-wrapper-->
        <div class="benefits-wrapper">
            <div class="container text-center">
                <div class="row">
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="assets/icons/clock-white.svg" alt="">
                            <h3 class="item-title">10X Faster Development</h3>
                            <div class="item-desc">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="assets/icons/presenter-white.svg" alt="">
                            <h3 class="item-title">Increase Productivity</h3>
                            <div class="item-desc">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="assets/icons/chat-white.svg" alt="">
                            <h3 class="item-title">Better Collabration</h3>
                            <div class="item-desc">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//benefits-->
        <div class="press-wrapper">
            <div class="container">
               <div class="logos row">
                   <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="assets/logos/logo-1.svg" alt=""></div>
                   <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="assets/logos/logo-2.svg" alt=""></div>
                   <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="assets/logos/logo-3.svg" alt=""></div>
                   <div class="logo col-xs-6 col-sm-3"><img class="img-responsive" src="assets/logos/logo-4.svg" alt=""></div>
               </div> 
            </div><!--//container-->
        </div><!--//press-wrapper-->
    </section><!--//overview-section-->
    
    <section id="features-section" class="features-section section">
        <h2 class="section-title">
            Key Features
        </h2>
        <div class="container">
            <div class="row">
                <div class="features-content-wrapper col-xs-12 col-sm-7 com-md-7">
                    <div class="intro">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
                    </div><!--//intro-->
                    <ul class="feature-list list-unstyled">
                        <li><img class="tick-icon" src="assets/tick.svg" alt=""> Feature one lorem ipsum dolor sit amet.</li>
                        <li><img class="tick-icon" src="assets/tick.svg" alt=""> Feature two lorem ipsum dolor sit amet.</li>
                        <li><img class="tick-icon" src="assets/tick.svg" alt=""> Feature three lorem ipsum dolor sit amet.</li>
                        <li><img class="tick-icon" src="assets/tick.svg" alt=""> Feature four lorem ipsum dolor sit amet.</li>
                        <li><img class="tick-icon" src="assets/tick.svg" alt=""> Feature five lorem ipsum dolor sit amet.</li>
                        <li><img class="tick-icon" src="assets/tick.svg" alt=""> Feature six lorem ipsum dolor sit amet.</li>
                    </ul><!--//feature-list-->
                    
                    <div id="reviews-carousel" class="reviews-carousel carousel slide" data-ride="carousel">
                        <!--//wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <blockquote class="review center-block">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </blockquote><!--//review-->
                                <div class="source">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div><!--//rating-->
                                    <img class="profile" src="assets/users/user-1.png" alt="" />
                                    <div class="name">Theresa Wood, Product Hunt</div>
                                </div><!--//source-->    
                            </div><!--//item-->
                            
                            <div class="item">
                                <blockquote class="review center-block">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </blockquote><!--//review-->
                                <div class="source">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div><!--//rating-->
                                    <img class="profile" src="assets/users/user-2.png" alt="" />
                                    <div class="name">Rob Kim, Mashable</div>
                                </div><!--//source-->    
                            </div><!--//item-->
                            
                            <div class="item">
                                <blockquote class="review center-block">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </blockquote><!--//review-->
                                <div class="source">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div><!--//rating-->
                                    <img class="profile" src="assets/users/user-3.png" alt="" />
                                    <div class="name">Kevin Howell, Wired</div>
                                </div><!--//source-->    
                            </div><!--//item-->
                            
                        </div><!--//carousel-inner-->
                        
                        <!--//Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#reviews-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#reviews-carousel" data-slide-to="1"></li>
                            <li data-target="#reviews-carousel" data-slide-to="2"></li>
                        </ol>
                        
                    </div><!--//reviews-carousel-->
                </div><!--//features-content-wrapper-->
            </div><!--//row-->
        </div><!--//container-->
        
        <div class="features-figure-wrapper">
            <img class="img-responsive" src="assets/landing-page/imac-screen.png" alt="">
        </div><!--//features-figure-wrapper-->
        
        <div class="action-wrapper text-center">
            <a href="features.html" class="btn btn-secondary">View all features</a>
        </div>
        
    </section><!--//features-section-->
    
    <section id="customers-section" class="customers-section section">
        <h2 class="section-title">Trusted by smart businesses</h2>
        <div class="section-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum felis at lacus blandit egestas. Donec consectetur mollis leo, et pharetra massa eleifend mollis.</div>
        <div class="container">
            <div class="stories-wrapper row">
                <div class="item item-1 col-xs-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Shipping product <br>at an amazing speed</h3>
                            <div class="content-desc">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-2 col-xs-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Better collaboration <br>with remote teams</h3>
                            <div class="content-desc">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-3 col-xs-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Put UX at the heart of  <br>our SaaS business</h3>
                            <div class="content-desc">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-4 col-xs-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">A new way to app <br>development</h3>
                            <div class="content-desc">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div><!--//item-content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->
            <div class="action-wrapper text-center">
                <a class="btn btn-secondary" href="stories.html">All Customer Stories</a>
            </div>
        </div><!--//container-->
    </section><!--//customers-section-->
    
    <section id="signup-section" class="signup-section section">
        <div class="section-inner">
            <div class="container text-center">
                <div class="counter-container">
                </div><!--//counter-container-->
                
                <h2 class="counter-desc">Customers Worldwide</h2>
                
                <div class="form-wrapper">
                    <h2 class="form-title">Start Your Free Trial Today</h2>
                    <div class="form-box">
                        <h3 class="form-heading">30 Day Free Trial</h3>
                        <div class="form-desc">Sign up now, it only takes 3 minutes</div>
                        <ul class="social-buttons list-unstyled">
                            <li><a href="#" class="btn btn-social btn-google"><i class="fa fa-google" aria-hidden="true"></i><span class="btn-text">Sign up with Google</span></a></li>
                            <li><a href="#" class="btn btn-social btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span class="btn-text">Sign up with Facebook</span></a></li>
                        </ul><!--//social-buttons-->
                        <div class="divider">
                            <span class="or-text">OR</span>
                        </div><!--//divider-->
                        <form class="signup-form">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="firstname" class="sr-only">First Name</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                                </div><!--//form-group-->
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="lastname" class="sr-only">Last Name</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                                </div><!--//form-group-->
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="firstname" class="sr-only">Email Address</label>
                                    <input type="email" class="form-control" id="emailaddress" name="emailaddress" placeholder="Email Address">
                                </div><!--//form-group-->
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="password" class="sr-only">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Create a Password">
                                </div><!--//form-group-->
                                
                            </div><!--//row-->
                            <div class="legal-note">By signing up, you agree to our terms of services and privacy policy.</div>
                            
                            <button type="submit" class="btn btn-primary btn-cta">Start Your Free Trial</button>
                            <div class="alter-login">
                                Already have an account? <a class="login-link" href="#" data-toggle="modal" data-target="#login-modal">Log in</a>
                            </div>
                        </form><!--//form-->
                    </div><!--//form-box-->
                </div><!--//form-wrapper-->
                
            </div><!--//container-->
        </div><!--//section-inner-->
    </section><!--//signup-section-->
    
    <section id="support-section" class="support-section section text-center">
        <h2 class="section-title">24/7 Customer Support</h2>
        <div class="section-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</div>
        <a class="btn btn-secondary" href="support.html">Our Support Center</a>
        <div class="team-figure">
            <img class="img-responsive support-team" src="assets/team.png" alt="">
        </div><!--//team-figure-->
    </section><!--//support-section-->
    
    <section class="apps-section section text-center">
        <h2 class="section-title">Download Our Apps</h2>
        <div class="container">
            <ul class="apps-list list-inline">
                <li><a class="btn btn-download-app btn-apple-download" href="#"><i class="fa fa-apple" aria-hidden="true"></i> <span class="btn-text"><span class="intro-text">Download on the</span><span class="main-text">App Store</span></span></a></li>
                <li><a class="btn btn-download-app btn-andriod-download" href="#"><i class="fa fa-android" aria-hidden="true"></i> <span class="btn-text"><span class="intro-text">Get it on</span><span class="main-text">Google Play</span></span></a></li>
                <li><a class="btn btn-download-app btn-windows-download" href="#"><i class="fa fa-windows" aria-hidden="true"></i> <span class="btn-text"><span class="intro-text">Download from</span><span class="main-text">Windows Phone Store</span></span></a></li>
            </ul><!--//apps-list-->
        </div><!--//container-->
    </section><!--//apps-section-->
</div><!-- container-main -->