<div class="col-xs-8">
	<h1>Jobs 
		<% if business_user_signed_in? %>
			<span class="subtitle"><%= link_to '(Post a new job)', new_shipment_path %></span>
		<% end %>
	</h1>

	<%= render @jobs %>

	<% if @jobs.empty? %>
		<div class="panel">
			<div class="panel-body" style="position: relative;">
  			<h3>There are currently no jobs.</h3>
  		</div>
  	</div>
  <% end %>
</div>
  
<div class="col-xs-4">
	<h1>Suggestions</h1>
	<% @user_suggestions.each do |user| %>
		<div class="panel">
			<div class="panel-body">
				<div class="col-xs-12 text-center">
					<%= image_tag user.avatar, class: 'prof-pic' %>
				</div>
				<div class="col-xs-12 text-center">
					<span>
						<%= link_to "#{user.first_name} #{user.last_name}", business_user_path(user) %>
					</span>
				</div>
			</div>
		</div>
	<% end %>

	<% if @user_suggestions.empty? %>
		<div class="panel">
			<div class="panel-body">
				<h3>There are no suggestions right now.</h3>
			</div>
		</div>
	<% end %>
</div>
