<div class="panel">
  <div class="panel-body">
    <div class="col-xs-6 col-md-2">

      <%= link_to audit.nafta_certificate.url, target: "_blank" do %>
        <%= image_tag 'icons/file.png', class: 'file-icon center-block' %>
        <figcaption class="text-center"><small>Nafta Certificate</small></figcaption>
      <% end %>

    </div>

    <div class="col-xs-6 col-md-2">

      <%= link_to audit.canada_customs.url, target: "_blank" do %> 
        <%= image_tag 'icons/file.png', class: 'file-icon center-block' %>
        <figcaption class="text-center"><small>Canada Customs</small></figcaption>
      <% end %>

    </div>
  </div>
</div>