<h3>All Audits</h3>
<div class="row">
  <% if @audits.present? %>
    <% @audits.each do |audit| %>
      <!-- Add thumbnails and forms data -->

    <% end %>
  <% else %>
    <p>No Audits have been posted yet!</p>
  <% end %>
</div>
