<h3>My Audits</h3>
<%= link_to 'Create an Audit', new_audit_path, class: 'btn btn-success pull-right' %>
<div class="row">
  <% if @audits.present? %>
    <% @audits.each do |audit| %>
      <!-- Add thumbnails and forms data -->

    <% end %>
  <% else %>
    <p>You have no audits yet!</p>
  <% end %>
</div>
