@import "mixins";

.panel-user {
  @include smooth_transition(all);
  position: relative;

  background: rgba(0, 0, 0, 0.4);
  border-color: #3a3a3a;

  .prof-pic {
    background: #fff;
  }

  &:hover {
    @include smooth_transition(all);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.7);
  }
}

.input-group-btn > .btn {
  height: 45px;
}
