.nested-fields-shipments {
  position: relative;
  border-bottom: 3px solid #ddd;
  min-height: 130px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.shipment-container {
	background: white;
	padding: 20px;
	position: relative;
  margin: 8px -6px;
  border-radius: 3px;

}

.btn-create-job {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.trash {
	margin-top: 33px;
}
