@import "mixins";

.first_name_profile_form, .last_name_profile_form {
  height:5%;
}

.prof-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: 30px auto;
  border: 3px solid #eee;
  padding: 2px;
}

.prof-pic-xs {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: block;
  background: #fff
}

.custom-file-upload {
  margin-top:20px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.update-name-button {
  padding-bottom:5px; 
}

#tags-list-profile {
  margin:5px; 
}

.user-actions {
  width: 80%;
  display: block;
  margin: 20px auto;
}

.nav-user-actions {
  li {
    &:first-child {
      border-top: 1px solid #eee;
    }
    border-bottom: 1px solid #eee;
  }
}

.nav-prof {
  display: inline;
}

.btn-user-info {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.following-list-item {
  position:relative; 
  background: white;
  border-bottom: 3px solid #eee;
  padding: 15px;
}

.profile-details-container {
  background: white;
  padding: 15px 20px;
  min-height: 200px;
  border: 2px solid #eee;
}


.panel-user {
  @include smooth_transition(all);
  position: relative;

  background: rgba(0, 0, 0, 0.4);
  border-color: #3a3a3a;

  .prof-pic {
    background: #fff;
  }

  &:hover {
    @include smooth_transition(all);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }
}
