.prof-pic {
  border-radius: 50%;
  width: 150px;
  display: block;
  margin: 30px auto;
  border: 3px solid #eee;
  padding: 2px;
}

.user-actions {
  width: 80%;
  display: block;
  margin: 20px auto;
}

.nav-user-actions {
  li {
    border: 1px solid #eee;
  }
}