.nav-tabs{
	border-bottom: 1px solid rgba(87, 86, 86, 0);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(87, 86, 86, 0);
}

.nav-tabs > li > a {
width: 460px;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}