<div class="nested-fields nested-fields-shipments">
  <div class="row">
    <div class="col-xs-12 col-md-5">
     <%= f.label :product %><br />
	   <%= f.association :product, collection: current_user.products.all, label: false, prompt: 'Choose an existing Product', input_html: {class: 'chosen-select', style: 'width: auto'} %>
    </div>
    <div class="col-xs-12 col-md-5">
	    <%= f.input :quantity, input_html: {value: 0} %>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= link_to_remove_association '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, f, style: 'margin-top: 30px; position: absolute;' %>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).bind('cocoon:after-insert', function(e,inserted_item) {
  $('.chosen-select').chosen()
});
</script>
