<h1>Your Shipments</h1>

<hr>

<div class="row">
	<% @shipments.each do |shipment| %>
		<div class="col-xs-12 col-md-4">
			<div class="shipment-container">
				<h5><%= shipment.created_at.strftime("%m/%d/%Y %l:%M %p") %></h5>
				<div class="row">
					<% shipment.products.each do |product| %>
						<div class="col-xs-12 col-md-3">
							<%= image_tag product.featured_image.url, class: 'img-responsive' %>
							<h4 class="text-center"><%= link_to product.title, product %></h4>						
						</div>
					<% end %>
				</div>

				<%= link_to 'Create Job', new_shipment_job_path(shipment), class: 'btn btn-sm btn-success btn-create-job' %>
			</div><!-- shipment-container -->
		</div><!-- col-xs-12 col-md-4 -->		
	<% end %>
</div>