<div class="col-xs-6" style="margin-bottom: 50px;">

	<div class="progress">
	    <div class="progress-bar progress-bar-success" style="width: 25%">25%</div>
	</div>

  <h1>Choose Products to Ship</h1>

  <p><small>* To add a new product, <%= link_to 'click here', new_product_path %></small>.</p>

  <%= render 'form' %>

</div>

