<div class="search_job_form">
	<%= form_tag jobs_searches_path, method: 'get' do %>
		<%= text_field_tag :search, params[:search], required: true %>
		<%= submit_tag "Search Job", name: nil %>
	<% end %>
</div>