<!-- ******FOOTER****** --> 
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col col-xs-6 col-md-3">
                <div class="footer-col-inner">
                    <h3 class="col-title">About</h3>
                    <ul class="footer-menu list-unstyled">
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Jobs</a> <label class="label label-new">We're hiring</label></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div><!--//footer-col-inner-->
            </div><!--//footer-col-->
            <div class="footer-col col-xs-6 col-md-3">
                <div class="footer-col-inner">
                    <h3 class="col-title">Product</h3>
                    <ul class="footer-menu list-unstyled">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">Support Center</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Customers</a></li>
                    </ul>
                </div>
            </div><!--//footer-col-->
            <div class="footer-col col-xs-6 col-md-3">
                <div class="footer-col-inner">
                    <h3 class="col-title">Useful Links</h3>
                    <ul class="footer-menu list-unstyled">
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Become our partner</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div><!--//footer-col-->
            <div class="footer-col col-xs-6 col-md-3">
                <div class="footer-col-inner">
                    <h3 class="col-title">Legal</h3>
                    <ul class="footer-menu list-unstyled">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms of Services</a></li>
                        <li><a href="#">Policies</a></li>
                    </ul>
                </div>
            </div><!--//footer-col-->
        </div><!--//row-->
        <div class="divider"></div>
        <div class="footer-bottom text-center">
            <ul class="social-media list-inline">
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                
            </ul>

            <small class="copyright">Copyright © Trade Without Borders</small> 
        </div>
    </div><!--//container-->
</footer><!--//footer-->