<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>

  </head>

  <body class="bg-image">
    <%= render 'layouts/nav' %>
    <div class="container container-authenticated">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
