<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    
  </head>

  <body data-spy="scroll" data-target="#page-nav">
  	<%= render 'layouts/header' %>
    
    <%= yield %>
  </body>
</html>
